<div class="ventas-container">

<!-- BARRA SUPERIOR -->
<div class="barra-superior">

  <nav class="menu">

    <!-- LOGO -->
    <div class="logo">
       <span>SISTEMA DROGUERÍA PILI</span>
    </div>

    <!-- MENU -->
    <div class="menu-links">
      <a routerLink="/">Inicio</a>
      <a routerLink="/inventario">Inventario</a>
      <a routerLink="/compras"> Compras</a>
      <a routerLink="/ventas"><strong> Ventas</strong></a>
      <a routerLink="/informes">Informes</a>
    </div>

    <!-- ADMINISTRADOR -->
    <div class="menu-administrador">
      <span class="admin"(click)="irAdministrador()">Admin</span>
      <span class="salir"(click)="salir()">⟵ Salir</span>
    </div>

  </nav>

</div>


<!-- TITULO -->
<div class="titulo-ventas">
  <h2>Registro de Ventas</h2>
</div>


<!-- TARJETAS -->
<div class="resumen">

  <div class="tarjeta">
    <p>VENTAS HOY</p>
    <h3>$48.500</h3>
  </div>

  <div class="tarjeta">
    <p>TRANSACCIONES</p>
    <h3>23</h3>
  </div>

  <div class="tarjeta">
    <p>PRODUCTOS VENDIDOS</p>
    <h3>87</h3>
  </div>

  <div class="tarjeta">
    <p>VENTAS DEL MES</p>
    <h3>$1.200.000</h3>
  </div>

</div>


<!-- FORMULARIO -->
<div class="formulario-venta">

  <h3>Nueva Venta</h3>

  <div class="fila">

    <div class="campo">
      <label>Fecha de Venta</label>
      
      <input type="date" formControlName="fechaVenta">
      <small *ngIf="FormularioVentas.get('fechaVenta')?.invalid && FormularioVentas.get('fechaVenta')?.touched">
        
      </small>
    </div>

    <div class="campo">
      <label>Cliente</label>
      <input type="text" formControlName="Cliente" placeholder="Nombre del cliente">
      <small *ngIf="FormularioVentas.get('Cliente')?.invalid && FormularioVentas.get('Cliente')?.touched">
       
      </small>

    </div>

    <div class="campo">
      <label>N° Factura</label>
      <input type="text" formControlName="Factura" value="VTA-0001">
      <small *ngIf="FormularioVentas.get('Factura')?.invalid && FormularioVentas.get('Factura')?.touched">
       
      </small>

    </div>

  </div>

  <div class="fila">

    <div class="campo">
      <label>Código Medicamento</label>
      <input type="text" formControlName="Codigo">
        <small *ngIf="FormularioVentas.get('Codigo')?.invalid && FormularioVentas.get('Codigo')?.touched">  
          
        </small>

    </div>

    <div class="campo">
      <label>Medicamento</label>
      <input type="text" formControlName="Medicamento" placeholder="Nombre del medicamento">
      <small *ngIf="FormularioVentas.get('Medicamento')?.invalid && FormularioVentas.get('Medicamento')?.touched">

      </small>    
    </div>

    <div class="campo">
      <label>Laboratorio</label>
      <input type="text" formControlName="Laboratorio" placeholder="Nombre del laboratorio">
    <small *ngIf="FormularioVentas.get('Laboratorio')?.invalid && FormularioVentas.get('Laboratorio')?.touched">

      </small>
    </div>

    <div class="campo">
      <label>Fecha Caducidad</label>
      <input type="date" formControlName="fechaCaducidad">
      <small *ngIf="FormularioVentas.get('fechaCaducidad')?.invalid && FormularioVentas.get('fechaCaducidad')?.touched">
        
      </small>
    </div>

  </div>


  <div class="opciones">
    <label>
      <input type="checkbox">
      No caduca
    </label>

    <label>
      <input type="checkbox">
      Habilitar
    </label>

  </div>

  <div class="fila">

    <div class="campo">
      <label>Cantidad</label>
      <input type="number" formControlName="Cantidad">
      <small *ngIf="FormularioVentas.get('Cantidad')?.invalid && FormularioVentas.get('Cantidad')?.touched">
        
      </small>
    </div>

    <div class="campo">
      <label>Precio Venta</label>
      <input type="number" formControlName="Precio">
      <small *ngIf="FormularioVentas.get('Precio')?.invalid && FormularioVentas.get('Precio')?.touched">
        
      </small>
    </div>

    <div class="campo total">
      <label>Total</label>
      <input type="number"formControlName="Total" >
      <small *ngIf="FormularioVentas.get('Total')?.invalid && FormularioVentas.get('Total')?.touched">
        
      </small>

    </div>

    <button class="boton-agregar"(click)="agregarProducto()">+</button>

  </div>

</div>

<!-- DETALLE DE VENTA -->

<div class="detalle">

  <h3>Detalle de Venta</h3>

  <table>

    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Laboratorio</th>
        <th>Cantidad</th>
        <th>Precio Venta</th>
        <th>Total</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>001</td>
        <td>Ibuprofeno 400mg</td>
        <td>Genfar</td>
        <td>3</td>
        <td>$3800</td>
        <td>$11400</td>
        <td>
          <button class="boton-quitar"(click)="quitarProducto()"> Quitar</button>
        </td>
      </tr>

    </tbody>

  </table>

  <div class="total-general">
    Total: <strong>$11.400</strong>
  </div>

</div>


<!-- BOTONES -->

<div class="botones">

  <button class="boton confirmar"(click)="confirmarVenta()">Confirmar Venta</button>

  <button class="boton imprimir"(click)="imprimirVenta()">Imprimir</button>

  <button class="boton limpiar"(click)="limpiarFormulario()">Limpiar</button>

  <button class="boton salir"(click)="salir()">⟵ Salir</button>

</div>

</div>